
div .section-container {
    border: 1px solid black;
    background-color: darkgrey;
    margin: 30px;
}
.main-container h2{
    padding-top: 30px;
}
.navbar{
    background-color: cadetblue;
    padding: 0px;
    border: 1px solid gray;
}
.navbar-brand{
    font-size: x-large;
    padding-left: 45px;
}
.nav-item{
    border: 1px solid black;
}

.menu-categories{
    background-color: lightblue;
}
@media (min-width: 576px) {
    
  }
  
  /*menu not visible to tablets, laptops, pc*/
  @media (min-width: 768px){
    .menu-categories{
        visibility: hidden;
    }
    
  }
  

/* Transition styles */
.navbar {
    opacity: 1;
    transition: opacity 0.2s ease;
    /*transition: all 0.4s;*/
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -56px;
}